numpy == 1.26.4
faster-whisper == 1.2.1
ctranslate2 == 4.6.2
pyannote.audio == 3.1.1
pyannote.core < 5.0
pyannote.pipeline < 4.0
tqdm
psutil
pyyaml
soundfile
requests
fastapi
uvicorn
python-multipart
